body {
    margin : 0px;
    background-image: url(http://cvincent61.free.fr/fond/fond-site.jpg);
}

section {
    margin-left: 10%;
    margin-right: 10%;
}

#desc {
    border : solid black 1px;
    text-align: center;
    margin-top:5%;
    border-radius : 10px;
    padding:20%;
}

#dem {
    border : solid black 1px;
    text-align: center;
    margin-right:65%;
}

#contact{
    margin-top:2.5%;
    border : solid black 1px;
    text-align:center;
    margin-left:65%;
}
/*
a {
    display: block;
    background-image:linear-gradient(white, LightBlue);
    text-decoration:none;
}

a:visited {
    color : purple;
}

a:hover {
    background-image:linear-gradient(LightBlue, blue);
    color : white;
}*/