body {
    margin : 0px;
    background-image: url(http://cvincent61.free.fr/fond/fond-site.jpg);
}

form {
    margin-top: 1em;
    margin-left: 10%;
    margin-right: 10%;
}


.main{
    background-color : #3ab4a6;
    color: #ffffff;
    font-weight: bold;
    margin-left: 5%;
    display: inline-block;
    border-radius: 8px;
    width: 27%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    padding-left : 0.25em;
    padding-right : 0.25em;
}

.sec{
    float : right;
    margin-right: 15%;
    padding-top:0.75%;
    width:40%;
}

.sec>input {
    width:100%;
}

fieldset>ul{
    list-style-type: none;
}

.liste select {
    width:100%;
    background: white;
    margin-top: 1%;
}

.area>.main{
    margin-bottom:3%;
}

.area>.sec>textarea{
    width:100%;
    resize: none;
}

.listemult>.main {
    margin-bottom:5%;
}

.listemult>.sec>select {
    width:100%;
}

fieldset {
    border: solid 1px #3ab4a6;
    border-radius: 5px;
}

input#valider {
    color: #444444;
    background-image:linear-gradient(lightcyan, #3ab4a6);
    margin-top: 1%;
    width: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 100%;
    font-weight: bold;
}

input#valider:hover {
    background-image:linear-gradient(#3ab4a6, #3ab4a6);
    color:white;
}