body {
    margin : 0px;
    background-image: url(http://cvincent61.free.fr/fond/fond-site.jpg);
}


#main {
    margin-left: 10%;
    margin-right: 10%;
}

#desc {
    border : solid black 1px;
    text-align: center;
    margin-top:5%;
    border-radius : 10px;
    padding:20%;
}

section > .name > a {
    color: #ffffff;
    background-color: #3ab4a6;
    padding : 5%;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom : 15%;
    margin-left : auto;
    margin-right : auto;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
}

section {
    display: inline-block;
    text-align : center;
    margin-left: 2em;
    margin-right: 2em;
}
