body {
    margin : 0px;
    background-image: url(http://cvincent61.free.fr/fond/fond-site.jpg);
}

section:not(#art) > .name > a {
    color: #ffffff;
    background-color: #3ab4a6;
    padding : 5%;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom : 15%;
    margin-left : auto;
    margin-right : auto;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
}

section:not(#art) > .name > a:hover {
    background-image:linear-gradient(#3ab4c6, #3ab4a6);
    color:white;
}

section:not(#art) {
    display: inline-block;
    text-align : center;
    margin-left: 2em;
    margin-right: 2em;
}

#art {
    margin-top: 1em;
    text-align: center;
}

#art>p {
    margin-left: auto;
    margin-right: auto;
    padding-top : 0.2em;
    padding-bottom : 0.2em;
    padding-left : 0.8em;
    padding-right : 0.8em;
    color: #ffffff;
    background-color: #3ab4a6;
    border-radius: 8px;
    width: 15em;
    font-weight: bold;
}

form input {
    margin-left: auto;
    margin-right: auto;
    padding-top : 0.2em;
    padding-bottom : 0.2em;
    padding-left : 0.8em;
    padding-right : 0.8em;
    border-radius: 8px;
    width: 15em;
    font-weight: bold;
}

.green_btn {
    background-color: #00cc33;
}

.green_btn:hover {
    background-color: darkgreen;
    color : white;
}

.red_btn {
    background-color: #cc0000;
    color : white;
}

.red_btn:hover {
    background-color: lightcoral;
    color : black;
}


.hidden-radio{display:none;}